dd { margin-left:1em;}
dt { font-weight:bold;}
dl { padding-bottom:0.5em;border-bottom: thin solid black;}
html, body { background:#ddd;}
h2 { color:#036;}
h1 { color:#025A9A; }
ul li { margin-left:0.5em;}
body { font-size:0.6em !important;}