h1 { 	color:#4D3405; }
h2 { clear: right;
     color:#4D3405;
     font-weight:400;
     text-shadow:1px 1px 0 #D3D2D2;
}
html, body {background: #D4CEBE url(../images/content-bg.png) repeat-x top};
span[title] { border-bottom: dotted gray thin;}

a:link { color: #9D4415;}
a:visited { color: #1D0405;}

img { border: 1px solid black; }